# Ignore sample images
samples

# Ignore training images
training_images

# Ignore mp3 files
mp3s

# Ignore java spell executables, too big
broken
aguamenti
incendio
lumos
strip50_flames
strip50_water
strip50_spazzy
strip50_light

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/